<!DOCTYPE HTML>
@{ Layout = null;}
<html>
<head>
    <title>FlexGains by Paul Powell</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="https://localhost:44314/Home/index">Placeholder <span>for a logo</span></a></div>
        <a href="#menu"><span>Get started</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            @Html.Partial("_LoginPartial")
            <li><a href="/Home/index">Home</a></li>
            <li><a href="/Workouts/ByMuscleGroup">Browse by Muscle Group</a></li>

        </ul>
    </nav>

    <!-- Banner -->
    <!--
        Note: To show a background image, set the "data-bg" attribute below
        to the full filename of your image. This is used in each section to set
        the background image.
    -->
    <section id="banner" class="bg-img" data-bg="banner.jpg">
        <div class="inner">
            <header>
                <h1>FlexGains</h1>
                <h2><button class="w3-btn w3-round-xxlarge"><a href="https://localhost:44314/Account/Register">Get Started</a></button><h2>
</header>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>
            <div class="copyright">
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
            </div>
        </div>
    </footer>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/main.js"></script>

</body>
</html>